header {
  z-index:1050;
}
body {
  margin-top: 60px;
  background-color: #f9f9fb;
}

#main-content {
  padding-top: 5px;
  margin-left: 250px;
}

nav.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 315px;
  height: 315px;
}

.hover-shadow:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
    transition: all 0.2s ease-in-out;
}

.transition {
    transition: all 0.2s ease-in-out;
}

.btn-header-outline {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
}

.btn-header-outline:hover {
    background-color: white;
    color: #0d6efd;
}